body {
  margin: 0;
  background: white;
  color: #222;
  font-family: "Roboto", sans-serif;
}



:root {
  --main-color : #ff009d;
}



/* Header */

.navbar {
  display: none !important;
}
.navbar-toggler {
  border: none !important;       
  box-shadow: none !important;   
  outline: none !important;   
  padding-right: 0 !important;   
}
.navbar-brand {
  width:25% !important;
}
.offcanvas-title {
    width:45% !important;
    margin-left: -10px !important;

}
.nav-link {
  font-size: 18px !important;
  font-weight: 600 !important;
}
.active {
  color: var(--main-color) !important;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.logo {
    width: 10%;
}
.logo img {
    width: 100%;
}

nav {
    display: flex;
    gap: 30px;    
}
nav a {
  text-decoration: none;
  color: #123382;
  font-weight: 600;
}
.sign-btn {
  padding: 6px 16px;
  background: #ff914c;
  color:white;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
}
.btn1 {
  padding: 10px 20px;
  background: #123382;
  color:white;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
}
.btn1.yellow {
  background: white;
  color: black;
  border: 1px solid gray !important;
}




/* child1 */
.child1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 60px;
    background-color: var(--main-color);
}


.left-child1 {
  width: 50%;
}
.child1-content {
    color: white;
    font-size: 75px;
    font-weight: 600;
    line-height: 1.0;
}
.child1-sub-content {
    color: white;
    font-size: 20px;
    width: 75%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.points {
  color: white;
  margin-bottom: 0;
}


.two-btn {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.two-btn button {
  border: none;
  outline: none;
  padding: 10px 20px 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
}
.consultation {
  background-color: white;
  color: var(--main-color);
}
.profile {
  border: 1px solid white !important;
  background-color: transparent;
  color: white;
}


.right-child1 {
  width: 50%;
}
.right-child1 img {
  width: 100%;
}







/* child2 */
.child2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 40px 80px;
    gap: 50px;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.child2 p {
  margin-bottom: 0;
  color: gray;
}
.sub-child2 {
  text-align: center;
  align-content: center;
}
.child2 h1 {
  font-weight: 700;
}



/* child3 */
.child3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    align-items: center;
    background-color: #ccc;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 80%;
}
.section-header h1 {
  line-height: 1.3;
  font-size: 40px;
  font-weight: 700;
  padding-left: 12px;
}
.section-header p {
  width: 45%;
  color: gray;
  font-size: 16px;
}
.section-header button {
  border: none;
  outline: none;
  padding: 8px 16px 8px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  background-color: var(--main-color);
  color: white;
  margin-top: 8px;
}


.child3 img {
  width: 80%;
  border-radius: 20px;
}
.video-content {
  font-size: 15px;
  text-align: center;
  color: black;
  width: 70%;
  margin-top: 30px;
}



.child4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px 80px;
  gap: 20px;
}
.child4 p {
  margin-bottom: 0;
}
.child4-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 40px;
}
.child4-header h2 {
  font-size: 40px;
  font-weight: 700;
  padding-left: 12px;
}
.child4-header .p1 {
  font-size: 14px;
  color: var(--main-color);
}

.child4-header .p2 {
  font-size: 16px;
  width: 70%;
  text-align: center;
}

.sub-child4 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.left-child4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 70%;
  padding: 40px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.left-child-head {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 40px;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 0;
}
.left-child4 img {
  width: 4%;
  padding: 4px;
  background-color: var(--main-color);
  border-radius: 6px;
}
.left-child-content {
  color: gray;
  font-size: 24px;
}

.right-child4 {
  width: 30%;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 20px;
}
.right-child4 img {
  width: 100%;
  border-radius: 10px;
}



/* child5 */
.child5 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px 80px;
    background-color: #e1e1e1;
}
.child5 p {
  margin-bottom: 0;
}
.left-child5, .middle-child5 {
  width: 33%;
}
.left-child5 {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 30px;
}
.last-left-child5 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding: 40px;
  gap: 30px;
}

.left-child5-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}
.left-child5 img {
  width: 16%;
  padding: 4px;
  background-color: var(--main-color);
  border-radius: 6px;
}
.child5-head {
  font-size: 20px;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 0;
}

.child5-content {
  color: gray;
  font-size: 16px;
}


.middle-child5 {
  text-align: center;
  margin-bottom: 0px;
  padding: 40px;
}
.middle-child5 img {
  width: 100%;
}




.child6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 60px 80px;
  gap: 20px;
}
.child6 p {
  margin-bottom: 0;
}
.child6-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}
.sub-header {
  display: flex;
  flex-direction: column;
}
.child6-header h2 {
  font-size: 40px;
  font-weight: 700;
}
.child6-header .p1 {
  font-size: 14px;
  color: var(--main-color);
}

.child6-header .p2 {
  font-size: 16px;
  width: 40%;
}



.sub-child6 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  width: 100%;
}
.team-card {
  background: white;
  border-radius: 18px;
  padding: 26px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
}

.team-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0,0,0,0.08);
}

.card-info h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.card-info p {
  font-size: 14px;
  color: #6b7280;
}

.card-info p span {
  color: var(--main-color);
  font-weight: 500;
}

.socials {
  display: flex;
  gap: 10px;
  margin-top: 14px;
}

.socials a {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--main-color);
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  transition: 0.25s;
}

.socials a:hover {
  background: var(--main-color);
  color: #fff;
}

.avatar {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}






.child7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 80px;
  gap: 10px;
}
.child7 p {
  margin-bottom: 0;
}
.child7-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
}

.child7-header h2 {
  font-size: 40px;
  font-weight: 700;
  width: 60%;
  text-align: center;
}
.child7-header .p1 {
  font-size: 14px;
  color: var(--main-color);
}




.sub-child7 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  width: 100%;
}


.testimonial-card {
  width: 100%;
  background: #ffffff;
  border-radius: 16px;
  padding: 22px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.testimonial-card h3 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #1f2937;
}

.testimonial-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #6b7280;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.user-info .left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-info img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.user-info strong {
  display: block;
  font-size: 14px;
  color: #111827;
}

.user-info span {
  font-size: 12px;
  color: #9ca3af;
}

.social i {
  font-size: 18px;
  color: #1da1f2;
}





.child8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px 80px;
  gap: 20px;
}
.child8 p {
  margin-bottom: 0;
}
.child8-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
}

.child8-header h2 {
  font-size: 40px;
  width: 70%;
  text-align: center;
  font-weight: 700;
}
.child8-header .p1 {
  font-size: 14px;
  color: var(--main-color);
}

.child8-header .p2 {
  font-size: 16px;
  width: 40%;
}



.faq {
    display: flex;
    width: 100%;
    border: none;
}
.accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.accordion-item {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 12px !important;
  padding: 6px !important;
}
.accordion-header {
  margin-bottom: 0 !important;
}
.accordion-button {
  font-weight: 700 !important;
}
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.accordion-button:focus {
  box-shadow: unset !important;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important; */
}






.footer {
width: 100%;
padding: 80px 100px 40px;
background: #000;
}
.footer-container {
display: grid;
grid-template-columns: 1fr 1fr;
align-items: flex-start;
gap: 80px;
}
.footer-left img {
width: 25%;
margin-bottom: 20px;
border-radius: 10px;
}
.footer-left p {
line-height: 1.6;
font-size: 16px;
color: #cfcfcf;
max-width: 420px;
}
.footer-right h2 {
font-size: 36px;
color: white;
font-weight: 700;
margin-bottom: 25px;
}
.footer-sub-right {
  display: flex;
  justify-content: space-between;
}
.social-icons {
display: flex;
gap: 20px;
margin-bottom: 25px;
}
.social-icons i {
font-size: 22px;
border-radius: 8px;
padding: 8px 10px;
cursor: pointer;
transition: .3s;
color: white;
}
.social-icons i:hover {
opacity: .6;
}
.email-box {
background: #1a1a1a;
padding: 20px 25px;
border-radius: 12px;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}
.email-box input {
background: transparent;
border: none;
outline: none;
color: #ccc;
width: 90%;
}

.email-box button {
background: none;
border: none;
cursor: pointer;
font-size: 20px;
color: #7a7a7a;
width: 10%;
}
.footer-line {
margin: 60px 0 20px;
width: 100%;
height: 2px;
background: linear-gradient(to right, #444, #999, #444);
}
.footer-menu {
display: flex;
justify-content: center;
gap: 50px;
margin-top: 25px;
}

.footer-menu a {
text-decoration: none;
color: #aaa;
font-size: 16px;
font-weight: 500;
transition: .3s;
}
.footer-menu a.active {
color: #fff;
font-weight: 600;
}
.footer-menu a:hover {
color: #fff;
}



@media screen and (min-width : 320px) and (max-width : 768px) {


  header {
    display: none;
  }

  .navbar {
    display: unset !important ;
    /* padding: 10px 16px 10px !important; */
  }
  .container-fluid {
    padding: 14px;
  }


  .child1 {
    padding: 20px;
    flex-direction: column;
    gap: 20px;
  }
  .left-child1 {
    width: 100%;
  }
  .right-child1 {
    width: 100%;
  }
  .child1-content {
    font-size: 22px;
  }
  .child1-sub-content {
    font-size: 14px;
    width: 100%;
  }
  .points {
    font-size: 15px;
  }
  .two-btn {
    justify-content: space-between;
  }
  .two-btn button {
    font-size: 14px;
    padding: 5px 10px 5px;
    border-radius: 6px;
  }



  .child2 {
    flex-direction: column;
    padding: 20px;
  }
  .child2 h1 {
    margin-bottom: 0;
  }
  .child2 p {
    font-size: 14px;
  }



  .child3 {
    padding: 20px;
  }
  .section-header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .section-header h1 {
    padding-left: 0;
    font-size: 22px;
    text-align: center;
  }
  .section-header p {
    font-size: 14px;
    text-align: center;
    width: 100%;
  }
  .child3 img {
    width: 100%;
    border-radius: 10px;
  }
  .video-content {
    font-size: 14px;
    width: 100%;
    margin-bottom: 0;
  }


  .child4 {
    padding: 20px;
  }
  .sub-child4 {
    flex-direction: column;
  }
  .sub-child4-reverse {
    flex-direction: column-reverse;
  }
  .child4-header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
  }
  .child4-header h2 {
    font-size: 22px;
    width: 100%;
  }
  .child4-header .p2 {
    font-size: 14px;
    width: 100%;
  }
  .left-child4 {
    padding: 20px;
    width: 100%;
  }
  .left-child-head {
    font-size: 20px;
  }
  .left-child-content {
    font-size: 14px;
  }
  .left-child4 button {
    font-size: 14px;
  }


  .right-child4 {
    width: 100%;
  }



  .child5 {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  .left-child5 {
    width: 100%;
    padding: 0px;
  }
  .last-left-child5 {
    align-items: start;
  }
  .left-child5-content {
    width: 100%;
  }
  .middle-child5 {
    padding: 0;
    width: 100%;
    margin-bottom: 20px ;
  }


  .child6 {
    padding: 20px;
  }
  .child6-header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .child6-header h2 {
    font-size: 22px;
    width: 100%;
  }
  .child6-header .p2 {
    font-size: 14px;
    width: 100%;
  }
  .sub-child6 {
    display: flex;
    flex-direction: column;
  }
  .team-card {
    padding: 15px;
  }


  .child7 {
    padding: 20px;
  }
  .sub-child7 {
    display: flex;
    flex-direction: column;
  }
  .child7-header {
    margin-bottom: 0;
  }
  .child7-header h2 {
    font-size: 22px;
    width: 100%;
  }


  .child8 {
    padding: 20px;
    margin-bottom: 0;
  }
  .child8-header {
    margin-bottom: 0;
  }
  .child8 h2 {
    font-size: 22px;
    margin-bottom: 0px;
  }
  .accordion-button {
    font-size: 14px !important;
    font-weight: unset !important;
  }
  .accordion-body {
    font-size: 14px !important;
    font-weight: unset !important;
  }





  .footer {
    padding: 30px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer-left img {
    width: 100%;
  }
  .footer-right {
    width: 100%;
  }
  .footer-right h2 {
    font-size: 22px;
    margin-bottom: 4px;
  }
  .footer-sub-right {
    flex-direction: column;
  }

  .footer-line {
    margin-top: 25px;
  }

  .footer-menu {
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
}